/* Navbar css */

.nav {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--bg);
  
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 4.8rem;
}

.nav-container {
  display: flex;
  margin: auto;
  align-items: center;
}

.nav-container img {
  max-width: 2.8rem;
  max-height: 2.8rem;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 2rem;
  border: 1px solid var(--gray);
  padding: 12px 20px;
  border-radius: 10px;
  margin: 0 1rem;
}

.nav-list a {
  text-decoration: none;
  color: white;
}

.nav-list a:hover {
  color: var(--main);
  border-bottom: 2px solid var(--main);
}

.menu-icon {
  display: none;
  cursor: pointer;
  width: 2.8rem;
  height: 2.8rem;
  align-items: center;
  border: 1px solid var(--gray);
  border-radius: 50%;
}

@media (max-width: 767px) {
  .nav {
    height: 4rem;
  }

  .nav-list {
    display: none;
    margin: 0;
    border: none;
    border-radius: 0;
  }

  .nav-container {
    width: 95%;
    justify-content: space-between;
  }

  .nav-container img {
    max-width: 2.4rem;
    max-height: 2.4rem;
  }

  .nav-responsive {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1rem;
    position: absolute;
    top: 4rem;
    right: 0;
    width: 100%;
    background-color: black;
    border-top: 1px solid var(--main);
    transform: translateY(100%);
    animation: slideMenu 0.3s ease forwards;

  }

    @keyframes slideMenu {
      0% {
        transform: translateY(-100%);
      }
  
      100% {
        transform: translateY(0);
      }
    }

  .menu-icon {
    display: flex;
    align-items: center;
  }
}



/* Home css */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero-content {
  color: var(--main);
  display: flex;
  flex-direction: column;
  z-index: 1;
  background: transparent;
  align-items: center;
  max-width: 80%;
  text-align: center;
}

.hero-content h1 {
  font-family: var(--text-font);
  font-size: 6.4rem;
  font-weight: 500;
  margin: auto;
}

.hero-btn-grp {
  display: flex;
  gap: 1rem;
  margin-top: 15px;
}

.hero-btn-grp button {
  height: 2.4rem;
  max-width: 8rem;
  padding: 5px 15px;
  color: white;
  /* background: transparent; */
  background-color: var(--bg);
  border: 1px solid var(--gray);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.hero-btn-grp button:hover {
  background-color: var(--main);
  color: var(--bg);
  transform: scale(1.1);
  font-weight: 500;
  transition: all ease-in 0.3s;
}

@media (max-width: 1024px) {
  .hero-content h1 {
    font-size: 5.2rem;
  }
}

@media (max-width: 980px) {
  .hero-content h1 {
    font-size: 3rem;
  }
}

@media (max-width: 424px) {
  .hero-content h1 {
    padding: 5px;
    font-size: 2.2rem;
  }

  .hero-btn-grp button {
    height: 2rem;
    font-size: small;
    padding: 5px;
  }
}

/* About css*/

.about-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: var(--bg);
  padding: 2rem 0;
  padding-left: 4rem;
}

.about-container p {
  font-family: var(--text-font);
  font-size: 2.8rem;
  line-height: 3.2rem;
}

.about-container span {
  color: var(--main);
}

@media (max-width : 1024px) {
  .about-container p {
    font-size: 2.4rem;
    line-height: 2.8rem;

  }
}

@media (max-width : 840px) {
  .about-container p {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

@media (max-width : 767px) {
  .about-container {
    padding-left: 2rem;
  }

  .about-container p {
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width : 460px) {
  .about-container {
    padding-left: 1.5rem;
  }

  .about-container p {
    font-size: 16px;
    line-height: 20px;
  }
}


/* Deliverables  and Product Css*/

.deliverables,
.products,
.benefits,
.contact,
.team {
  padding: 2rem;
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-height: 100vh; */
}

.deliverables h1,
.products h1,
.benefits h1,
.contact h1,
.team h1,
.partners h1 {
  color: var(--main);
  font-size: 3rem;
  margin: auto;
  margin-top: 3rem;
  font-family: var(--text-font);
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}

.cards-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-flow: wrap;
  row-gap: 2rem;
}

.card-element {
  background-color: var(--bg);
  border: 1px solid var(--gray);
  border-radius: 10px;
  padding: 1rem;
  transition: transform 0.3s;
  cursor: pointer;
  width: 28%;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-img img {
  width: 90%;
  display: flex;
  border-radius: 10px;
  margin: auto;
}

.card-element h3 {
  font-family: var(--text-font);
  font-weight: 400;
  color: white;
  font-size: 1.8rem;
  margin: 15px 0;
}

.card-element p {
  font-size: 1rem;
  color: var(--text-secondary);
}

@media (max-width : 768px) {

  .deliverables,
  .products {
    padding: 2rem 1.5rem 0 1.5rem;
  }

  .deliverables h1,
  .products h1,
    .benefits h1,
    .contact h1,
    .team h1,
    .partners h1 {
      margin-bottom: 0;
    font-size: 2.4rem;
    /* margin: 4rem 0 0 0; */
    font-family: var(--text-font);
    font-weight: 400;
  }

  .cards-container {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    row-gap: 2rem;
    padding: 2rem 0;
  }

  /* .card-element {
    padding: 1rem;
    transition: transform 0.3s;
    cursor: pointer;
    /* width: 48%; */
  

}

@media (max-width : 500px) {

  .deliverables h1,
  .products h1,
  .benefits h1,
    .contact h1,
    .team h1,
    .partners h1 {
    font-size: 1.6rem;
    /* margin: 2.8rem 0 0 0; */
    font-family: var(--text-font);
    font-weight: 400;
  }

  .cards-container {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    row-gap: 2rem;
    padding: 1.8rem 0;
  }

  .card-element {
    padding: 1rem;
    transition: transform 0.3s;
    cursor: pointer;
    width: 80%;
  }

}

/* Benefits Css */


.benefits .card-element {
  padding: 1rem;
}

.card-benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--gray);
  border-radius: 10px;
  padding: 1rem;
}

.benefit-name {
  padding: 1rem;
  border: 1px solid var(--gray);
  width: 100%;
  border-radius: 10px;

}

.benefit-name p {
  color: var(--main);
  font-size: 14px;
}

.card-benefits span {
  color: white;

}

.benefits {
  position: relative;
  overflow: hidden;
}

.benefits .cards-container1 {
  display: flex;
  gap: 2rem;
}

.benefits-container .card-element {
  padding: 1rem;
  transition: transform 0.3s;
  cursor: pointer;
  width: 400px;

}

.benefits-container {
  display: flex;
  gap: 2rem;
  animation: scroll 20s linear infinite;
  background-color: var(--bg);
  padding: 1rem 0;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}



/* Contact CSS */

.contact h1 {
  margin-bottom: 0;
}

.contact-card {
  margin: auto;
  display: flex;
  width: 50%;
  flex-direction: column;
  row-gap: 1rem;
}

.contact-card input {
  width: 100%;
  display: inline-block;
  border: none;
  border-radius: 10px;
  height: 30vh;
  padding: 10px;
  overflow-y: scroll;
  background-color: var(--black);
  border: 1px solid var(--main);
  color: white;
}

.contact-info {
  display: flex;
  gap: 1rem;
}

.contact-info input {
  max-width: 50%;
  height: 10vh;

}

.contact-card button {
  background-color: var(--main);
  border: none;
  height: 10vh;
  border-radius: 10px;
  cursor: pointer;
  font-size: large;
  font-weight: 600;
}

@media (max-width : 767px) {
  .contact-card {
    width: 80%;
  }
}

@media (max-width : 570px) {
  .contact h1 {
    font-size: 2.4rem;

  }

  .contact-card {
    width: 100%;
    padding: 0;
  }

  .contact-card input {
    height: 20vh;
  }

  .contact-info input,
  .contact-card button {
    height: 8vh;
  }
}



/* Team Css */

.team .cards-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-flow: wrap;
  row-gap: 2rem;

}

.team .card-element {
  
  position: relative;
  overflow: hidden;
  width: 28%;
  min-width: 280px;
  display: flex;
  flex-direction: column;
}

.team .card-element img {
  width: 100%;
  height: 30vh;
  margin: auto;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.team .card-element h3 {
  font-size: 2rem;
  text-align: center;
}

.team .card-element p {
  text-align: center;
}

.team .card-content {
  height: 0;
  width: 100%;
  background: var(--main);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0 1rem;
  transition: height 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.team .card-content h2 {
  font-size: 24px;
  text-align: left;
}

.team .card-content h3 {
  font-size: 16px;
  color: var(--bg);
  font-weight: 600;
  text-align: left;

}

.team .card-content p {
  color: var(--bg);
  font-size: 16px;
  text-align: left;
}

.team .card-content a {
  text-decoration: none;
  margin-top: 1.4em;
  background-color: var(--bg);
  color: white;
  padding: 5px 10px;
  width: 40%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}


.team .card-element:hover .card-content {
  height: 100%;
  padding: 1rem;
}





/* Partener CSS */

.partners {
  padding: 2rem;
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
}


.partners-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.partner-logos {
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
  animation: scroll 15s linear infinite;
  background-color: var(--bg);
}

@media (max-width : 767px){
  .partner-logos{
    animation: scroll 5s linear infinite;
  }

}

.partner-logos img {
  height: 30vh;
  border-radius: 10px;

}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.certificate-cards-container{
  padding: 2rem 0;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-flow: wrap;
}
.certificate-card-element{
  position: relative;
  width: 22%;
  min-width: 280px;
  background-color: var(--main);
  border-radius: 10px;

}

.certificate-card-element img{
  width: 100%;
  height: 35vh;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.certificate-body{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}



/* Footer CSS */


.footer{
  width: 100%;
  position: relative;
  background-color: var(--bg);
  padding: 4rem;
  border-top: 1px solid var(--gray);
}

.footer-container{
  display: flex;
  justify-content: space-between;
}

.footer-content{
  color: white;
}

.footer-content span{
  color: var(--main);
  font-size: 20px;
}
.footer-content p {
  font-size: 16px;
  line-height: 1.6rem;
}

.social-links{
  display: flex;
  gap: 1rem;
  padding: 0 2rem;
}

.social-links img{
  width: 50px;
}

@media (max-width : 767px){
  .footer-container{
    flex-direction: column;
    align-items: center;
  }

  .footer-content{
    text-align: center;
  }

  .footer{
    padding: 2rem;
  }

    .social-links {
      padding: 1rem 0;
      gap: 10px;

    }
}