:root{
  --black : black;
  --blackk : rgba(0, 0, 0, 0.39);
  --main : #a1f88f;
  /* --main: #d3ffca; */
  --gray : rgba(255, 255, 255, 0.2);
  /* --gray : rgb(211, 255, 202, 0.3); */
  --bg : #0f0e0e;
  --text-secondary : #8d8d8d;
  --text-font : "Inter Tight",
    "Inter Tight Placeholder",
    sans-serif;
    --text-bold : "Inter Tight",
      "Inter Tight Placeholder",
      sans-serif;

}
html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg);
}

section{
  width: 100%;
}
